.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //bottom: 120px;
}

.crop-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  height: 120px;
}

.preview-cropped-img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  //bottom: -3rem;
  //border: 2px solid #fff;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: translateZ(0);
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.6))
  }
}