.btn-container {
  button:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  };

  button {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:hover {
      background-color: light-dark(var(--mantine-primary-color-9), var(--mantine-primary-color-9))
    }

    &[data-active="true"] {
      background-color: var(--mantine-primary-color-9);
      &:hover {
        background-color: var(--mantine-primary-color-9)
      }
    }
  }

  button:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.only-one {
  button {
    border-radius: 4px;
  }
}