:root {
  --navbar-width: 80px;
  --btn-width: 50px;
  --btn-justify: center;
}
.navbar {
  width: var(--navbar-width);
  height: 100vh;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}