.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  //border: 1px solid #a9a9a9;

  td {
    //border: 1px solid rgb(190, 190, 190);
    font-weight: bold;
    color: black;
    padding: 4px;
  }
}