.table {
  border-collapse: collapse;
  //table-layout: fixed;
  width: 100%;
  font-size: 12px;

  td, th {
    font-weight: 500;
    color: black;
    padding: 2px 4px;
    text-align: center;
  }

  th {
    font-weight: bold !important;
  }
}

.noBorder {
  border: none !important;
}

.borderTop {
  border: none !important;
  border-top: 1px solid black !important;
}

.borderBottom {
  border: none !important;
  border-bottom: 1px solid black !important;
}

.borderLeft {
  border: none !important;
  border-left: 1px solid black !important;
}

.borderRight {
  border: none !important;
  border-right: 1px solid black !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.companyName {
  font-size: 22px;
  font-weight: 900 !important;
}

.cpcn {
  font-size: 22px;
  font-weight: 900 !important;
}

.bold {
  font-weight: 900 !important;
}