:root {
  --navbar-width: 80px;
  --btn-width: 50px;
  --btn-justify: center;
  --btn-height: 50px;
}

.link {
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: var(--mantine-radius-sm);
  display: flex;
  align-items: center;
  justify-content: var(--btn-justify);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  &:hover {
    background-color: light-dark(var(--mantine-primary-color-0), var(--mantine-primary-color-9));
  }

  &[data-active="true"] {
    background-color: var(--mantine-primary-color-9);
    color: var(--mantine-color-white);
  }
}

.chevron {
  transition: transform 200ms ease;
}