//.grid-container {
//  display: grid;
//  grid-template-columns: repeat(12, 1fr);
//  grid-template-rows: repeat(12, 1fr);
//  grid-column-gap: 1rem;
//  grid-row-gap: 1rem;
//  .fuel {
//    grid-column: span 6 / span 6;
//    grid-row: span 4 / span 4;
//  }
//
//  .miles {
//    grid-column: span 6 / span 6;
//    grid-row: span 4 / span 4;
//    grid-column-start: 7;
//  }
//
//  .driver {
//    grid-column: span 12 / span 12;
//    grid-row: span 6 / span 6;
//    grid-row-start: 5;
//  }
//}