root {
  --event-border-color: null;
  --event-background-color: null;
}

.fc {
  flex: 1;

  .fc-event {
    border-color: transparent !important;
  }

  .fc-v-event {
    border: 0.0650rem solid #c5c5c5 !important;
    //background: var(--event-background-color);
  }

  .fc-daygrid-more-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .fc-event-draggable {
    display: flex;
    div {
      flex: 1;
      border-radius: 4px;
    }
  }

  .fc-scrollgrid-liquid, .fc-daygrid, .fc-scrollgrid{
    border-radius: 4px;
  }

  .fc-list-sticky .fc-list-day > * {
    background-color: var(--mantine-color-body) !important
  }

  .fc-popover {
    z-index: 99 !important;
  }
}

.fc-list-event:hover td{
  background-color: var(--mantine-color-default-hover) !important;
}

.fc-theme-standard .fc-list {
  border: 0.0625rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
  border-radius: 4px;
}

.custom-event-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  //width: 200px;
  display: block;
  //background-color: var(--mantine-color-body);
  border-radius: 4px;
  color: var(--mantine-color-text);
}

//.fc-event,
.fc-event-main {
  //background: #c6c6c6;
  border-color: transparent;
  display: flex;
  flex: 1
}

.calendar-sidebar {
  width: 260px;

  .mantine-DatePicker-calendarHeaderLevel {
    font-size: 14px;
  }
}

.fc-daygrid-event-harness {
  border-radius: 4px;
  overflow: hidden;
  //width: 100%;
}

.fc-scrollgrid {
  border-left: 0.0625rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
  border-top: 0.0625rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));

  th, td {
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
  }
}

.fc-toolbar-chunk {
  background-color: transparent !important;

    button {
      transition: all 0.2s;
      border-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4)) !important;
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
      background-color: transparent !important;

      &[aria-pressed="true"] {
        background: var(--mantine-primary-color-9) !important;
        color: var(--mantine-color-white) !important;
        border: 0.0625rem solid transparent !important;
        &:hover {
          background: var(--mantine-primary-color-9) !important;
        }
      }

      &:not(:disabled):active {
        background: var(--mantine-primary-color-9) !important;
      }

      &:hover {
        background-color: light-dark(var(--mantine-primary-color-0), var(--mantine-primary-color-9)) !important;
      }

      &:focus {
        box-shadow: unset !important;
      }
    }

    .fc-today-button {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white)) !important;
      &:disabled {
        &:hover {
          background: var(--mantine-primary-color-9) !important;
        }
      }
    }

    button:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    button:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
}

.all-cell, .fc-col-header-cell, .stretch.fc {
  background-color: var(--mantine-color-body) !important;
}

.all-cell {
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: none;
}

.today-cell {
  background-color: var(--mantine-color-body) !important;
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));

  .fc-daygrid-day-number {
    color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-4));
    background-color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-dark-4));
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
    border-radius: 4px;
  }
}

// card
.card-icon {
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px;
  margin-block: 2px;
}
.month-card-view {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.drop-down-bg {
  background: var(--mantine-color-body)
}

.card-header {
  background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

//.fc-customButton-button::before {
//  content: '\2605'; /* Unicode for a star */
//  font-family: 'TablerIcons';
//  font-size: 16px;
//  color: currentColor; /* Use current text color */
//}